In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as stats

In [13]:
 root=np.sqrt

In [14]:
 xbar = 13.6
mu = 15.7
sigma = 5.3
n = 50
z = (xbar-mu)/(sigma/root(n))
print(z)

-2.8017438499844336

In [17]:
prob = stats.norm.cdf(z)
print(prob)

0.002541360621881682

In [18]:
anaemia_data=pd.read_csv('anaemia.csv')

In [19]:
print(anaemia_data.describe())

         Patient     Before      After
count  30.000000  30.000000  30.000000
mean   15.500000   9.872002  12.054458
std     8.803408   0.863718   0.999883
min     1.000000   8.183221  10.254872
25%     8.250000   9.325065  11.453815
50%    15.500000  10.061391  12.043715
75%    22.750000  10.258325  12.510066
max    30.000000  11.892559  14.359983

In [20]:
anaemia_data

    Patient     Before      After
0         1   9.117786  12.112929
1         2  10.074848  12.518423
2         3  10.186123  11.528032
3         4   9.398755  13.501565
4         5  10.121229  12.875959
5         6   9.574643  12.333921
6         7  10.286168  11.160033
7         8   9.300501  13.776787
8         9  10.108360  10.768155
9        10   8.852812  12.096357
10       11   8.558250  11.429075
11       12   8.660642  12.145882
12       13  10.251329  13.097726
13       14  11.892559  11.991072
14       15  10.043462  11.925407
15       16  10.250900  12.180415
16       17  10.211394  11.089873
17       18   9.179688  13.807667
18       19   8.521977  12.305636
19       20   8.183221  11.539104
20       21   9.558645  11.866058
21       22  10.904289  11.795870
22       23  10.430615  10.736302
23       24  10.047934  12.484992
24       25  11.662251  10.969463
25       26  10.260657  11.920462
26       27   9.546757  10.519024
27       28  10.789681  10.254872
28       29  10.399415  12.542681
29       30   9.785166  14.359983

In [30]:

    array=anaemia_data['After']-anaemia_data['Before']

In [31]:
print(array)

0     2.995142
1     2.443575
2     1.341910
3     4.102810
4     2.754730
5     2.759277
6     0.873866
7     4.476286
8     0.659795
9     3.243545
10    2.870825
11    3.485239
12    2.846397
13    0.098513
14    1.881945
15    1.929515
16    0.878480
17    4.627979
18    3.783659
19    3.355883
20    2.307413
21    0.891581
22    0.305688
23    2.437059
24   -0.692788
25    1.659805
26    0.972266
27   -0.534810
28    2.143267
29    4.574817
dtype: float64

In [35]:
anaemia_data['Diffrence']=abs(array)

In [36]:
print(anaemia_data)

    Patient     Before      After  Diffrence
0         1   9.117786  12.112929   2.995142
1         2  10.074848  12.518423   2.443575
2         3  10.186123  11.528032   1.341910
3         4   9.398755  13.501565   4.102810
4         5  10.121229  12.875959   2.754730
5         6   9.574643  12.333921   2.759277
6         7  10.286168  11.160033   0.873866
7         8   9.300501  13.776787   4.476286
8         9  10.108360  10.768155   0.659795
9        10   8.852812  12.096357   3.243545
10       11   8.558250  11.429075   2.870825
11       12   8.660642  12.145882   3.485239
12       13  10.251329  13.097726   2.846397
13       14  11.892559  11.991072   0.098513
14       15  10.043462  11.925407   1.881945
15       16  10.250900  12.180415   1.929515
16       17  10.211394  11.089873   0.878480
17       18   9.179688  13.807667   4.627979
18       19   8.521977  12.305636   3.783659
19       20   8.183221  11.539104   3.355883
20       21   9.558645  11.866058   2.307413
21       22  10.904289  11.795870   0.891581
22       23  10.430615  10.736302   0.305688
23       24  10.047934  12.484992   2.437059
24       25  11.662251  10.969463   0.692788
25       26  10.260657  11.920462   1.659805
26       27   9.546757  10.519024   0.972266
27       28  10.789681  10.254872   0.534810
28       29  10.399415  12.542681   2.143267
29       30   9.785166  14.359983   4.574817

In [37]:
np.mean(anaemia_data['Diffrence'])

2.2642955291333333

In [38]:
np.std(anaemia_data['Diffrence'])

1.3215770362501635

In [39]:

xbar = np.mean(anaemia_data['Diffrence'])
s=np.std(anaemia_data['Diffrence'],ddof=1)
                     # must include 'ddof = 1' to indicate that this is sample 
                     # standard deviation, rather than population standard deviation
mu0 = 0
n = len(anaemia_data['Diffrence'])
t = (xbar-mu0)/(s/root(n))
print(t)

9.226556047794915

In [40]:
prob1 = stats.t.cdf(t,n-1)

In [42]:
alpha = 0.05
print(prob1<alpha)

False

In [5]:

a=[0.5, 6.8, 12.5, 6.5, 24.0, 8.6, 21.8, 0.5]
np.sum(a)

81.2

In [6]:
len(a)

8

In [7]:
np.mean(a)

10.15

In [23]:
xbar = 14.8
s=4.1
                     # must include 'ddof = 1' to indicate that this is sample 
                     # standard deviation, rather than population standard deviation
mu0 = 13
n = 20
t = (xbar-mu0)/(s/np.sqrt(n))

In [24]:
t

1.9633767607315238

In [22]:
prob1 = stats.t.cdf(t,18)
print(prob1)

0.9673788938368979

In [21]:
prob1>0.05

True

In [25]:
t=-1.644

In [26]:
prob1 = stats.t.cdf(t,40)

In [27]:
prob1

0.05400720092924233